<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Authorization</title>
        <script src="jquery-341-min.js"></script>
        <script src="authorize.js"></script>
        <link href="main.css" rel="stylesheet" type="text/css"/>
    </head>
    <body class="Page">
        <div class="User">
            <p id="auth-alert"></p>
            <input id="auth-code" type="password" placeholder="Authorization Code" />
            <a href="javascript:void(0);">
                <p id="auth-submit">
                    AUTHORIZE THIS DEVICE
                </p>
            </a>
        </div>
        <div>
            <hr class="PageBreak" />
            <p class="Declaration">
                Copyright © 2019 Haodong Chen. All rights reserved.
            </p>
        </div>
    </body>
</html>
