<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Controller</title>
        <script src="jquery-341-min.js"></script>
        <script><%- code %></script>
        <link href="main.css" rel="stylesheet" type="text/css"/>
    </head>
    <body class="Page" ontouchstart="">
        <div class="crl">
            <div class="left">
                <a href="javascript:void(0);">
                    <p class="button" id="110">Test-Left-11</p>
                </a>
                <a href="javascript:void(0);">
                    <p class="button" id="120">Test-Left-12</p>
                </a>
                <a href="javascript:void(0);">
                    <p class="button" id="130">Test-Left-13</p>
                </a>
            </div>
            <div class="right">
                <a href="javascript:void(0);">
                    <p class="button" id="210">Test-Right-21</p>
                </a>
                <a href="javascript:void(0);">
                    <p class="button" id="220">Test-Right-22</p>
                </a>
            </div>
        </div>
        <div>
            <hr class="PageBreak" />
            <p id="auth-msg" class="log-p" style="color: <%= color %>;">
                <%- msg %>
            </p>
            <div id="logs"></div>
        </div>
        <div>
            <hr class="PageBreak" />
            <p class="Declaration">
                Copyright © 2019 Haodong Chen. All rights reserved.
            </p>
        </div>
    </body>
</html>
