<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Authorization</title>
        <link href="main.css" rel="stylesheet" type="text/css"/>
    </head>
    <body class="Page">
        <div class="User">
            <img src="/wechatQR" width="80%" />
        </div>
        <div>
            <hr class="PageBreak" />
            <p class="Declaration">
                Copyright © 2019 Haodong Chen. All rights reserved.
            </p>
        </div>
    </body>
</html>
