<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title><%= title %></title>
        <link href="main.css" rel="stylesheet" type="text/css"/>
        <script src="jquery-341-min.js"></script>
        <script><%- code %></script>
    </head>
    <body class="Page">
        <div class="User">
            <%- content %>
        </div>
        <div>
            <hr class="PageBreak" />
            <p class="Declaration">
                Copyright © 2019 Haodong Chen. All rights reserved.
            </p>
        </div>
    </body>
</html>
